@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none; /* prevent clicking on hidden modal */
}

.modal-container {
    transform: translateY(100%);
    transition: transform 0.5s ease;
    height: 90%;
}

.modal-overlay.show {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    pointer-events: auto; /* enable clicking on visible modal */
}

.modal-container.show {
    transform: translateY(0);
}
